*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* Es para que las propiedades que le aplicaquemos a los demas elementos de html no modifiquen 
                                   su tamano al cambiar el padding, margin, etc. */
}

.header {
    height: 80px;
    background-color: rgb(17, 18, 61);
    display: flex;
    justify-content: space-between;     /* es para separar el "headerLogo" del "headerNav"*/
    align-items: center;
    padding: 16px 120px 16px 120px;
}
.headerLogo {
    width: 40px;
    height: 40px;
    background-image: url("../../../../assets/icon/logo.png");
    background-size: contain;
}
