<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./app.component.css">
</head>

<body>
  <header class="header">
    <div class="headerLogo">
      <h6 class="textLogo">Logo</h6>
    </div>
    <nav class="headerNav">
      <ul class="menu">
        <li><a href="">Inicio</a></li>
        <li><a href="">Peliculas</a></li>
        <li><a href="">Series</a></li>
        <li><a href="">Ingresar</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="Titulo">
      <h1>PelisUP!</h1>
      <h6>Plataforma para ver Peliculas y series</h6>
    </div>

    <div class="Buscador">
      <h2>Buscador</h2>
    </div>

    <div class="Tab">
      <ul class="menuTab">
        <li><a href=""> <button>Todos</button> </a></li>
        <li><a href=""><button>Peliculas</button></a></li>
        <li><a href=""><button>Series</button></a></li>
      </ul>
    </div>

    <div class="ListCard">

      <h3>Todos...</h3>

      <div class="gridCard">

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>

        <div class="Card">
          <div class="Card_Img">
            <div class="Card_Calificacion"></div>
          </div>
          <h6>Titulo de Pelicula</h6>
        </div>


      </div>

    </div>

  </main>

</body>

</html>