*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* Es para que las propiedades que le aplicaquemos a los demas elementos de html no modifiquen 
                                   su tamano al cambiar el padding, margin, etc. */
}




.Titulo{
    height: 200px;
    background-color:rgba(23, 23, 73, 0.644);
    margin: 3px;
    padding: 20px;
}

.Buscador {
    height: 70px;
    background-color:rgba(23, 23, 73, 0.644);
    margin: 3px;
    padding: 20px;
}

.Tab {
    height: 70px;
    background-color:rgba(23, 23, 73, 0.644);
    margin: 3px;
    padding: 20px;
}
.menuTab {
    list-style-type: none;      /* este comando permite borrar la enumeracion, puntos, etc de la lista */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    gap: 10px;
}

.ListCard {
    background-color:rgba(23, 23, 73, 0.644);
    margin-inline: 3px;
    padding: 20px;
}

.gridCard {
    display: grid;                  /*Las acomoda en fila*/
    /*justify-content: space-around;*/ /*Separa las tarjetas en espacios iguales*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color:red;
    padding: 10px;
}

