*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* Es para que las propiedades que le aplicaquemos a los demas elementos de html no modifiquen 
                                   su tamano al cambiar el padding, margin, etc. */
}






